.form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    margin-bottom: 1rem;
}

.form-image {
  border-radius: 15px;
  margin-bottom: 2rem;
  margin-top: 5.5rem;
  margin-left: 30rem;
}

.form-title {
  color: #4361ee;
  font-size: 2rem;
}

.form-inputgroup {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin: 1rem auto;
}

.form-input {
  color: #4361ee;
  outline-color: #64748b;
  border-color: #4361ee;
  border-radius: 5px;
  box-sizing: border-box;
  height: 2rem;
  margin-right: 30rem;
}

.form-label {
  color: #64748b;
  margin-top: 0.1rem;
}

.form-button {
  background-color: #4361ee;
  color: #fff;
  width: 38%;
  border: 0px;
  height: 2rem;
  border-radius: 5px;
}

/* medium screen */
@media (max-width: 768px) {
  .form-left {
    text-align: center;
    margin: 3rem auto;
  }
}

/* large screen */
@media (max-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 10rem;
  }

  .form-input {
    width: 200px;
  }

  .form-left {
    flex-basis: auto;
  }
}
