/* User.css */
.User-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
  }
  
  /* User.css atau jika ingin khusus untuk User.js */
  .user-card {
    background-color: #f9f9f9; /* Warna latar belakang kartu user */
    border: 1px solid #ddd; /* Garis tepi kartu user */
    border-radius: 8px; /* Melengkungkan sudut kartu user */
    padding: 20px; /* Padding di sekitar konten kartu user */
  }
  
  .user-card h3 {
    margin-top: 0; /* Menghapus margin atas pada judul nama */
  }
  
  .user-card p {
    margin-bottom: 0; /* Menghapus margin bawah pada paragraf member */
    color: #666; /* Warna teks member */
  }

  /* large screen */
  @media (max-width: 1024px) {
    .User-container {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
    }
  }

  /* medium screen */
  @media (max-width: 768px) {
    .User-container {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
    }
  }

  /* medium screen */
  @media (max-width: 425px) {
    .User-container {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
    }
  }
  